.notFoundContainer{
  background: #f6f6f6;
  height: calc(100vh - 80px);
  .bg-404{
    background: url('../../assets/images/404.jpg') no-repeat center center;
    width: 50vw;
    height: 60vh;
    margin: 0 auto;
  }
  .goBack{
    width:50vw;
    text-align: center;
    margin: 0 auto;
    .backHomeBtn{
      width: 150px;
      height: 40px;
      line-height: 40px;
      border-radius: 30px;
      border: none;
      background: #557793;
      color: #fff;
      font-size: 16px;
      letter-spacing: 2px;
      display: inline-block;
    }
    .backHomeBtn:hover{
      cursor: pointer;
      background: #99bdda;
    }
    .backHomeBtn:focus{
      outline: none;
    }
  }
}
